In [26]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

df = pd.read_csv('/Users/chandnimelwani/Documents/Data_Science_UFT/ML/Project/Data/Auto_Theft_Open_Data.csv')

In [27]:
df.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,DIVISION,LOCATION_TYPE,PREMISES_TYPE,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.306757,43.734652,1,GO-20141263217,2014/01/01 05:00:00+00,2013/12/31 05:00:00+00,2014,January,1,1,Wednesday,16,2013.0,December,31.0,365.0,Tuesday,17,D33,"Apartment (Rooming House, Condo)",Apartment,2135,210,Theft Of Motor Vehicle,Auto Theft,43,Victoria Village,43,Victoria Village (43),-79.306757,43.734652
1,-79.236189,43.721847,2,GO-20141262914,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,15,2014.0,January,1.0,1.0,Wednesday,15,D43,"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,123,Cliffcrest,123,Cliffcrest (123),-79.236189,43.721847
2,-79.529478,43.618472,3,GO-20141262837,2014/01/01 05:00:00+00,2013/12/25 05:00:00+00,2014,January,1,1,Wednesday,15,2013.0,December,25.0,359.0,Wednesday,0,D22,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,159,Etobicoke City Centre,14,Islington-City Centre West (14),-79.529478,43.618472
3,-79.516814,43.683438,4,GO-20141265795,2014/01/02 05:00:00+00,2014/01/01 05:00:00+00,2014,January,2,2,Thursday,7,2014.0,January,1.0,1.0,Wednesday,19,D23,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,9,Edenbridge-Humber Valley,9,Edenbridge-Humber Valley (9),-79.516814,43.683438
4,-79.595364,43.744281,5,GO-20141265947,2014/01/02 05:00:00+00,2014/01/01 05:00:00+00,2014,January,2,2,Thursday,8,2014.0,January,1.0,1.0,Wednesday,15,D23,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,2,Mount Olive-Silverstone-Jamestown,2,Mount Olive-Silverstone-Jamestown (2),-79.595364,43.744281

In [28]:
df.tail()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,DIVISION,LOCATION_TYPE,PREMISES_TYPE,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
46043,-79.448803,43.743792,46044,GO-20222559870,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,Saturday,12,2022.0,December,31.0,365.0,Saturday,1,D32,"Single Home, House (Attach Garage, Cottage, Mo...",House,2135,210,Theft Of Motor Vehicle,Auto Theft,33,Clanton Park,33,Clanton Park (33),-79.448803,43.743792
46044,-79.451561,43.746985,46045,GO-20222560433,2022/12/31 05:00:00+00,2022/12/30 05:00:00+00,2022,December,31,365,Saturday,13,2022.0,December,30.0,364.0,Friday,19,D32,"Single Home, House (Attach Garage, Cottage, Mo...",House,2135,210,Theft Of Motor Vehicle,Auto Theft,33,Clanton Park,33,Clanton Park (33),-79.451561,43.746985
46045,-79.485320,43.778947,46046,GO-20222561916,2022/12/31 05:00:00+00,2022/12/29 05:00:00+00,2022,December,31,365,Saturday,17,2022.0,December,29.0,363.0,Thursday,17,D32,Other Commercial / Corporate Places (For Profi...,Commercial,2135,210,Theft Of Motor Vehicle,Auto Theft,27,York University Heights,27,York University Heights (27),-79.485320,43.778947
46046,-79.556765,43.765449,46047,GO-20222558651,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,Saturday,8,2022.0,December,31.0,365.0,Saturday,0,D31,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,21,Humber Summit,21,Humber Summit (21),-79.556765,43.765449
46047,-79.556765,43.765449,46048,GO-20222558651,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,Saturday,8,2022.0,December,31.0,365.0,Saturday,0,D31,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,210,Theft Of Motor Vehicle,Auto Theft,21,Humber Summit,21,Humber Summit (21),-79.556765,43.765449

In [29]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', 'UCR_CODE',
       'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84'],
      dtype='object')

In [30]:
df.describe()

,X,Y,OBJECTID,REPORT_YEAR,REPORT_DAY,REPORT_DOY,REPORT_HOUR,OCC_YEAR,OCC_DAY,OCC_DOY,OCC_HOUR,UCR_CODE,UCR_EXT,LONG_WGS84,LAT_WGS84
count,46048.000000,46048.000000,46048.000000,46048.000000,46048.000000,46048.000000,46048.000000,46044.000000,46044.000000,46044.000000,46048.000000,46048.0,46048.0,46048.000000,46048.000000
mean,-79.490105,43.287412,23024.500000,2018.877867,15.681246,192.608517,11.513442,2018.863435,15.584506,192.187994,14.017655,2135.0,210.0,-79.490105,43.287412
std,0.609484,4.319873,13293.056935,2.597967,8.701205,104.002178,5.455884,2.608850,8.742127,103.967748,7.489454,0.0,0.0,0.609484,4.319873
min,-85.488744,0.000000,1.000000,2014.000000,1.000000,1.000000,0.000000,2000.000000,1.000000,1.000000,0.000000,2135.0,210.0,-85.488744,0.000000
25%,-79.526515,43.678596,11512.750000,2017.000000,8.000000,103.000000,7.000000,2017.000000,8.000000,103.000000,8.000000,2135.0,210.0,-79.526515,43.678596
50%,-79.441336,43.719408,23024.500000,2019.000000,16.000000,199.000000,10.000000,2019.000000,16.000000,198.000000,16.000000,2135.0,210.0,-79.441336,43.719408
75%,-79.346656,43.757442,34536.250000,2021.000000,23.000000,284.000000,16.000000,2021.000000,23.000000,284.000000,20.000000,2135.0,210.0,-79.346656,43.757442
max,-78.694889,44.096282,46048.000000,2022.000000,31.000000,366.000000,23.000000,2022.000000,31.000000,366.000000,23.000000,2135.0,210.0,-78.694889,44.096282

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46048 entries, 0 to 46047
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   X                  46048 non-null  float64
 1   Y                  46048 non-null  float64
 2   OBJECTID           46048 non-null  int64
 3   EVENT_UNIQUE_ID    46048 non-null  object
 4   REPORT_DATE        46048 non-null  object
 5   OCC_DATE           46048 non-null  object
 6   REPORT_YEAR        46048 non-null  int64
 7   REPORT_MONTH       46048 non-null  object
 8   REPORT_DAY         46048 non-null  int64
 9   REPORT_DOY         46048 non-null  int64
 10  REPORT_DOW         46048 non-null  object
 11  REPORT_HOUR        46048 non-null  int64
 12  OCC_YEAR           46044 non-null  float64
 13  OCC_MONTH          46044 non-null  object
 14  OCC_DAY            46044 non-null  float64
 15  OCC_DOY            46044 non-null  float64
 16  OCC_DOW            46044 non-null  object
 17  OCC_HOUR           46048 non-null  int64
 18  DIVISION           46048 non-null  object
 19  LOCATION_TYPE      46048 non-null  object
 20  PREMISES_TYPE      46048 non-null  object
 21  UCR_CODE           46048 non-null  int64
 22  UCR_EXT            46048 non-null  int64
 23  OFFENCE            46048 non-null  object
 24  MCI_CATEGORY       46048 non-null  object
 25  HOOD_158           46048 non-null  object
 26  NEIGHBOURHOOD_158  46048 non-null  object
 27  HOOD_140           46048 non-null  object
 28  NEIGHBOURHOOD_140  46048 non-null  object
 29  LONG_WGS84         46048 non-null  float64
 30  LAT_WGS84          46048 non-null  float64
dtypes: float64(7), int64(8), object(16)
memory usage: 10.9+ MB

In [32]:
print(df.isnull().sum())

X                    0
Y                    0
OBJECTID             0
EVENT_UNIQUE_ID      0
REPORT_DATE          0
OCC_DATE             0
REPORT_YEAR          0
REPORT_MONTH         0
REPORT_DAY           0
REPORT_DOY           0
REPORT_DOW           0
REPORT_HOUR          0
OCC_YEAR             4
OCC_MONTH            4
OCC_DAY              4
OCC_DOY              4
OCC_DOW              4
OCC_HOUR             0
DIVISION             0
LOCATION_TYPE        0
PREMISES_TYPE        0
UCR_CODE             0
UCR_EXT              0
OFFENCE              0
MCI_CATEGORY         0
HOOD_158             0
NEIGHBOURHOOD_158    0
HOOD_140             0
NEIGHBOURHOOD_140    0
LONG_WGS84           0
LAT_WGS84            0
dtype: int64

In [33]:
counts_neighbourhood = df[['NEIGHBOURHOOD_140']].value_counts()
print(counts_neighbourhood)

NEIGHBOURHOOD_140
West Humber-Clairville (1)                  3869
Islington-City Centre West (14)             1360
York University Heights (27)                1234
Downsview-Roding-CFB (26)                   1205
Humber Summit (21)                           923
Glenfield-Jane Heights (25)                  736
Wexford/Maryvale (119)                       722
Yorkdale-Glen Park (31)                      709
Rouge (131)                                  679
Woburn (137)                                 672
Mount Olive-Silverstone-Jamestown (2)        658
Waterfront Communities-The Island (77)       633
Bedford Park-Nortown (39)                    618
Milliken (130)                               601
Newtonbrook West (36)                        578
Clanton Park (33)                            549
Kingsview Village-The Westway (6)            542
NSA                                          537
Bendale (127)                                536
Humbermede (22)                              533
Black Creek (24)                             526
Willowdale East (51)                         525
Malvern (132)                                519
Dorset Park (126)                            510
Weston (113)                                 505
Willowridge-Martingrove-Richview (7)         496
Pelmo Park-Humberlea (23)                    490
Mimico (includes Humber Bay Shores) (17)     448
Stonegate-Queensway (16)                     442
Clairlea-Birchmount (120)                    439
Rockcliffe-Smythe (111)                      433
Church-Yonge Corridor (75)                   427
Agincourt South-Malvern West (128)           404
Dovercourt-Wallace Emerson-Junction (93)     390
Brookhaven-Amesbury (30)                     388
Eringate-Centennial-West Deane (11)          386
Parkwoods-Donalda (45)                       358
Rosedale-Moore Park (98)                     352
West Hill (136)                              352
Westminster-Branson (35)                     352
South Riverdale (70)                         345
Agincourt North (129)                        342
Bathurst Manor (34)                          337
Moss Park (73)                               326
Lawrence Park South (103)                    325
Rexdale-Kipling (4)                          323
Don Valley Village (47)                      320
St.Andrew-Windfields (40)                    314
Leaside-Bennington (56)                      312
L'Amoreaux (117)                             309
Lansing-Westgate (38)                        307
Tam O'Shanter-Sullivan (118)                 306
Kensington-Chinatown (78)                    303
Thistletown-Beaumond Heights (3)             300
Englemount-Lawrence (32)                     296
Lawrence Park North (105)                    293
Bay Street Corridor (76)                     288
Annex (95)                                   282
Forest Hill South (101)                      276
Edenbridge-Humber Valley (9)                 276
Banbury-Don Mills (42)                       275
Junction Area (90)                           271
Elms-Old Rexdale (5)                         267
Steeles (116)                                266
Kennedy Park (124)                           250
Briar Hill-Belgravia (108)                   249
Bayview Village (52)                         249
Eglinton East (138)                          247
Oakwood Village (107)                        244
East End-Danforth (62)                       243
Newtonbrook East (50)                        239
High Park-Swansea (87)                       238
Princess-Rosethorn (10)                      234
Alderwood (20)                               227
Kingsway South (15)                          221
Niagara (82)                                 215
Forest Hill North (102)                      210
The Beaches (63)                             208
Humewood-Cedarvale (106)                     207
Keelesdale-Eglinton West (110)               206
Birchcliffe-Cliffside (122)                  204
Mount Dennis (115)                           203
O'Connor-Parkview (54)                       202
Humber Heights-Westmount (8)                 202
Willowdale West (37)                         201
Morningside (135)                            200
Hillcrest Village (48)                       198
Cliffcrest (123)                             194
Highland Creek (134)                         191
Runnymede-Bloor West Village (89)            183
Victoria Village (43)                        183
Scarborough Village (139)                    179
Mount Pleasant East (99)                     177
Rustic (28)                                  177
Greenwood-Coxwell (65)                       174
Trinity-Bellwoods (81)                       173
South Parkdale (85)                          170
Long Branch (19)                             169
Henry Farm (53)                              165
High Park North (88)                         163
Bridle Path-Sunnybrook-York Mills (41)       163
Maple Leaf (29)                              160
North St.James Town (74)                     155
New Toronto (18)                             155
Wychwood (94)                                153
Weston-Pellam Park (91)                      153
Markland Wood (12)                           152
Roncesvalles (86)                            152
Palmerston-Little Italy (80)                 151
Bayview Woods-Steeles (49)                   148
Pleasant View (46)                           147
Corso Italia-Davenport (92)                  146
Oakridge (121)                               145
Danforth East York (59)                      143
Mount Pleasant West (104)                    137
Little Portugal (84)                         134
Thorncliffe Park (55)                        132
Etobicoke West Mall (13)                     126
Yonge-Eglinton (100)                         121
Centennial Scarborough (133)                 118
North Riverdale (68)                         118
Beechborough-Greenbrook (112)                116
Casa Loma (96)                               113
Cabbagetown-South St.James Town (71)         109
Danforth (66)                                109
Taylor-Massey (61)                           106
Flemingdon Park (44)                         103
Regent Park (72)                             100
University (79)                               96
Dufferin Grove (83)                           96
Lambton Baby Point (114)                      94
Caledonia-Fairbank (109)                      90
Woodbine Corridor (64)                        89
Playter Estates-Danforth (67)                 83
Yonge-St.Clair (97)                           78
Old East York (58)                            76
Ionview (125)                                 70
Broadview North (57)                          60
Blake-Jones (69)                              57
Woodbine-Lumsden (60)                         55
Guildwood (140)                               49
dtype: int64

In [36]:
counts = df[['OCC_YEAR', 'OCC_MONTH', 'OCC_DOW', \
                     'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 
                    'PREMISES_TYPE','NEIGHBOURHOOD_140']].value_counts()
print(counts)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [22]:
counts1 = df.groupby(['OCC_YEAR', 'OCC_MONTH', 'OCC_MONTH', 'OCC_DOW', \
                     'OCC_HOUR']).size()
print(counts)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', \
                     'NEIGHBOURHOOD_140'])

In [23]:
num_duplicates = df.duplicated(subset=['OCC_YEAR', 'OCC_MONTH', 'OCC_MONTH', 'OCC_DOW', \
                     'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 
                    'PREMISES_TYPE','NEIGHBOURHOOD_140']).sum()
print("Value counts:", num_duplicates)

Value counts: 4707

In [24]:
df['Combined'] = df.astype(str).apply(lambda x: ''.join(x), axis=1)
frequency = df['Combined'].value_counts()
print(frequency)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [13]:
auto_theft_data = [['NEIGHBOURHOOD_140', 'OFFENCE']]

In [14]:
auto_theft_count = auto_theft_data[auto_theft_data['OFFENCE'] == 'Auto Theft']['NEIGHBOURHOOD_158'].value_counts()
print(auto_theft_count)

TypeError: list indices must be integers or slices, not str